{% extends "base.html" %}
{% load staticfiles %}
{% load globaltags %}
{% block content %}
  {% block message_info_homepage %}{% endblock %}

  <!-- Start main-content -->
  <div class="main-content">
    <!-- Section: home -->
    <section id="home">
      <div class="container-fluid p-0">
<!-- Slider Revolution Start -->
        <div class="rev_slider_wrapper">
          <div class="rev_slider rev_slider_default" data-version="5.0">
            <ul>

              <!-- SLIDE 1 -->
              <li data-index="rs-1" data-transition="fade" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="static/assets/images/slider/slide1.jpg" data-rotate="0" data-saveperformance="off" data-title="Puieți de nuci altoiți" data-description="">
                <!-- MAIN IMAGE -->
                <img src="static/assets/images/slider/slide1.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10" data-no-retina>
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption tp-resizeme text-uppercase text-white font-raleway pl-30 pr-30"
                  id="rs-1-layer-1"

                  data-x="['center']"
                  data-hoffset="['0']"
                  data-y="['middle']"
                  data-voffset="['-90']"
                  data-fontsize="['28']"
                  data-lineheight="['54']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                  data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1000"
                  data-splitin="none"
                  data-splitout="none"
                  data-responsive_offset="on"
                  style="z-index: 7; white-space: nowrap; font-weight:400; border-radius: 30px;">Comercializăm
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption tp-resizeme text-uppercase bg-theme-colored-transparent text-white font-raleway pl-30 pr-30"
                  id="rs-1-layer-2"

                  data-x="['center']"
                  data-hoffset="['0']"
                  data-y="['middle']"
                  data-voffset="['-20']"
                  data-fontsize="['48']"
                  data-lineheight="['70']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                  data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1000"
                  data-splitin="none"
                  data-splitout="none"
                  data-responsive_offset="on"
                  style="z-index: 7; white-space: nowrap; font-weight:700; border-radius: 30px;">Puieți de nuci altoiți
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption tp-resizeme text-white text-center"
                  id="rs-1-layer-3"

                  data-x="['center']"
                  data-hoffset="['0']"
                  data-y="['middle']"
                  data-voffset="['50']"
                  data-fontsize="['16','18',24']"
                  data-lineheight="['28']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                  data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1400"
                  data-splitin="none"
                  data-splitout="none"
                  data-responsive_offset="on"
                  style="z-index: 5; white-space: nowrap; letter-spacing:0px; font-weight:400;">La cele mai bune prețuri de pe piață.
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption tp-resizeme"
                  id="rs-1-layer-4"

                  data-x="['center']"
                  data-hoffset="['0']"
                  data-y="['middle']"
                  data-voffset="['115']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1400"
                  data-splitin="none"
                  data-splitout="none"
                  data-responsive_offset="on"
                </div>
              </li>

              <!-- SLIDE 2 -->
              <li data-index="rs-2" data-transition="fade" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="static/assets/images/slider/slide2.jpg" data-rotate="0" data-saveperformance="off" data-title="Plantarea puieților" data-description="">
                <!-- MAIN IMAGE -->
                <img src="static/assets/images/slider/slide2.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10" data-no-retina>
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption tp-resizeme text-uppercase text-white font-raleway"
                  id="rs-2-layer-1"

                  data-x="['left']"
                  data-hoffset="['30']"
                  data-y="['middle']"
                  data-voffset="['-110']"
                  data-fontsize="['110']"
                  data-lineheight="['120']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                  data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1000"
                  data-splitin="none"
                  data-splitout="none"
                  data-responsive_offset="on"
                  style="z-index: 7; white-space: nowrap; font-weight:700;">Livezi
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption tp-resizeme text-uppercase text-white font-raleway bg-theme-colored-transparent pl-20 pr-20"
                  id="rs-2-layer-2"

                  data-x="['left']"
                  data-hoffset="['35']"
                  data-y="['middle']"
                  data-voffset="['-25']"
                  data-fontsize="['35']"
                  data-lineheight="['54']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                  data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1000"
                  data-splitin="none"
                  data-splitout="none"
                  data-responsive_offset="on"
                  style="z-index: 7; white-space: nowrap; font-weight:600;">îngrijite, curate, intensive
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption tp-resizeme text-white"
                  id="rs-2-layer-3"

                  data-x="['left']"
                  data-hoffset="['35']"
                  data-y="['middle']"
                  data-voffset="['35','35','40']"
                  data-fontsize="['16','18',24']"
                  data-lineheight="['28']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                  data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1400"
                  data-splitin="none"
                  data-splitout="none"
                  data-responsive_offset="on"
                  style="z-index: 5; white-space: nowrap; letter-spacing:0px; font-weight:400;"> Noi vă asigurăm asupra calității puieților noștri!  <br />

                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption tp-resizeme"
                  id="rs-2-layer-4"

                  data-x="['left']"
                  data-hoffset="['35']"
                  data-y="['middle']"
                  data-voffset="['95','105','110']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1400"
                  data-splitin="none"
                  data-splitout="none"
                  data-responsive_offset="on"
                </div>
              </li>

              <!-- SLIDE 3 -->
              <li data-index="rs-3" data-transition="fade" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="static/assets/images/slider/slide3.jpg" data-rotate="0" data-saveperformance="off" data-title="Îngrijirea livezilor" data-description="">
                <!-- MAIN IMAGE -->
                <img src="static/assets/images/slider/slide3.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10" data-no-retina>
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption tp-resizeme text-uppercase text-white font-raleway bg-theme-colored-transparent pr-20 pl-20"
                  id="rs-3-layer-1"

                  data-x="['right']"
                  data-hoffset="['30']"
                  data-y="['middle']"
                  data-voffset="['-90']"
                  data-fontsize="['64']"
                  data-lineheight="['72']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                  data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1000"
                  data-splitin="none"
                  data-splitout="none"
                  data-responsive_offset="on"
                  style="z-index: 7; white-space: nowrap; font-weight:600;">Consultații
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption tp-resizeme text-uppercase text-white font-raleway"
                  id="rs-3-layer-2"

                  data-x="['right']"
                  data-hoffset="['35']"
                  data-y="['middle']"
                  data-voffset="['-25']"
                  data-fontsize="['32']"
                  data-lineheight="['54']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                  data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1000"
                  data-splitin="none"
                  data-splitout="none"
                  data-responsive_offset="on"
                  style="z-index: 7; white-space: nowrap; font-weight:600;">pregătirea solului,plantarea,curățarea...
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption tp-resizeme text-white text-right"
                  id="rs-3-layer-3"

                  data-x="['right']"
                  data-hoffset="['35']"
                  data-y="['middle']"
                  data-voffset="['30']"
                  data-fontsize="['16','18',24']"
                  data-lineheight="['28']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                  data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1400"
                  data-splitin="none"
                  data-splitout="none"
                  data-responsive_offset="on"
                  style="z-index: 5; white-space: nowrap; letter-spacing:0px; font-weight:400;">Și tot ce trebuie livezii până la maturitatea ei
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption tp-resizeme"
                  id="rs-3-layer-4"

                  data-x="['right']"
                  data-hoffset="['35']"
                  data-y="['middle']"
                  data-voffset="['95']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1400"
                  data-splitin="none"
                  data-splitout="none"
                  data-responsive_offset="on"
                </div>
              </li>

			  <!-- SLIDE 4 -->
              <li data-index="rs-4" data-transition="fade" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="static/assets/images/slider/slide4.jpg" data-rotate="0" data-saveperformance="off" data-title="Rezultate maxime" data-description="">
                <!-- MAIN IMAGE -->
                <img src="static/assets/images/slider/slide4.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10" data-no-retina>
            <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption tp-resizeme text-uppercase text-white font-raleway bg-theme-colored-transparent pr-20 pl-20"
                  id="rs-3-layer-1"

                  data-x="['right']"
                  data-hoffset="['30']"
                  data-y="['middle']"
                  data-voffset="['-90']"
                  data-fontsize="['64']"
                  data-lineheight="['72']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                  data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1000"
                  data-splitin="none"
                  data-splitout="none"
                  data-responsive_offset="on"
                  style="z-index: 7; white-space: nowrap; font-weight:600;">Culturi intensive
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption tp-resizeme text-uppercase text-white font-raleway"
                  id="rs-3-layer-2"

                  data-x="['right']"
                  data-hoffset="['35']"
                  data-y="['middle']"
                  data-voffset="['-25']"
                  data-fontsize="['32']"
                  data-lineheight="['54']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                  data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1000"
                  data-splitin="none"
                  data-splitout="none"
                  data-responsive_offset="on"
                  style="z-index: 7; white-space: nowrap; font-weight:600;">Soiuri omologate ce aduc producție maximă
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption tp-resizeme text-white text-right"
                  id="rs-3-layer-3"

                  data-x="['right']"
                  data-hoffset="['35']"
                  data-y="['middle']"
                  data-voffset="['30']"
                  data-fontsize="['16','18',24']"
                  data-lineheight="['28']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                  data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1400"
                  data-splitin="none"
                  data-splitout="none"
                  data-responsive_offset="on"
                  style="z-index: 5; white-space: nowrap; letter-spacing:0px; font-weight:400;">Și de înaltă calitate
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption tp-resizeme"
                  id="rs-3-layer-4"

                  data-x="['right']"
                  data-hoffset="['35']"
                  data-y="['middle']"
                  data-voffset="['95']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1400"
                  data-splitin="none"
                  data-splitout="none"
                  data-responsive_offset="on"
                </div>
              </li>

			  <!-- SLIDE 5 -->
              <li data-index="rs-5" data-transition="fade" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="static/assets/images/slider/slide5.jpg" data-rotate="0" data-saveperformance="off" data-title="Nuci și miez de nuci" data-description="">
                <!-- MAIN IMAGE -->
                <img src="static/assets/images/slider/slide5.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10" data-no-retina>
                          <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption tp-resizeme text-uppercase text-white font-raleway bg-theme-colored-transparent pr-20 pl-20"
                  id="rs-3-layer-1"

                  data-x="['right']"
                  data-hoffset="['30']"
                  data-y="['middle']"
                  data-voffset="['-90']"
                  data-fontsize="['64']"
                  data-lineheight="['72']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                  data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1000"
                  data-splitin="none"
                  data-splitout="none"
                  data-responsive_offset="on"
                  style="z-index: 7; white-space: nowrap; font-weight:600;">Oferim
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption tp-resizeme text-uppercase text-white font-raleway"
                  id="rs-3-layer-2"

                  data-x="['right']"
                  data-hoffset="['35']"
                  data-y="['middle']"
                  data-voffset="['-25']"
                  data-fontsize="['32']"
                  data-lineheight="['54']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                  data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1000"
                  data-splitin="none"
                  data-splitout="none"
                  data-responsive_offset="on"
                  style="z-index: 7; white-space: nowrap; font-weight:600;">Nuci și miez de nuci
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption tp-resizeme text-white text-right"
                  id="rs-3-layer-3"

                  data-x="['right']"
                  data-hoffset="['35']"
                  data-y="['middle']"
                  data-voffset="['30']"
                  data-fontsize="['16','18',24']"
                  data-lineheight="['28']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                  data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1400"
                  data-splitin="none"
                  data-splitout="none"
                  data-responsive_offset="on"
                  style="z-index: 5; white-space: nowrap; letter-spacing:0px; font-weight:400;">De o frumusețe și gust incomparabil
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption tp-resizeme"
                  id="rs-3-layer-4"

                  data-x="['right']"
                  data-hoffset="['35']"
                  data-y="['middle']"
                  data-voffset="['95']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1400"
                  data-splitin="none"
                  data-splitout="none"
                  data-responsive_offset="on"
                </div>
              </li>

			  <!-- SLIDE 6 -->
              <li data-index="rs-6" data-transition="fade" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="static/assets/images/slider/slide6.jpg" data-rotate="0" data-saveperformance="off" data-title="walnutsia.com" data-description="">
                <!-- MAIN IMAGE -->
                <img src="static/assets/images/slider/slide6.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10" data-no-retina>
              </li>

            </ul>
          </div>
          <!-- end .rev_slider -->
        </div>
      </div>
    </section>

    <!-- Section: Mission  -->
    <section class="bg-silver-light">
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div class="col-md-6 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
              <h3 class="line-bottom mt-0 mt-sm-30">Despre <span class="text-theme-colored font-weight-800">noi</span></h3>

<p class= mb-15 ><a href="http://walnutsia.pythonanywhere.com/blog/nucul-de-zgurita/;">Pepinierea noastră</a> este specializată in altoirea puieților de nuc, dar producem și portaltoiuri de măr PI-80 și M-26 și material săditor de alte culturi pomicole.</p>
<p>Locul de desfășurare a activității noastre de altoire și creștere este în Republica Moldova, dar ne extindem și in Romania și Europa. Oricând, la cererea potențialilor clienți putem face o excursie în pepiniera noastră și livezile de soiuri și maturitate diferite. Altoim,creștem și comercializăm puieți omologați în Republica Moldova și România, soiuri care sunt recunoscute de intreaga Europa.</p>

<p>Pentru anul acesta avem în realizare următoarele soiuri de nuc:<br>

➤ <strong>Schinoasa</strong> <br>
➤ <strong>Cazacu</strong> <br>
➤ <strong>Costiujeni</strong> <br>
➤ <strong>Călărași</strong> <br>
➤ <strong>Chișinau</strong> <br>
➤ <strong>Recea</strong> <br>
➤ <strong>Corjeuți</strong> <br>
➤ <strong>Pesceanîi</strong> <p> Altoim și soiuri franceze la comandă:<strong>Lara, Fernor și Franquette</strong></p><br>
<p> Material săditor de zmeură(dispunem și de plantație)<strong> Kripish, Remontodana.</strong></p><br>

</p><a href="despre-noi.html" class="btn btn-theme-colored btn-flat">mai mult</a>
            </div>
            <div class="col-md-6 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s">
              <img class="img-fullwidth mt-sm-40" src="static/assets/images/about/walnut.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>

     <!-- Section: Services -->
       <section id="services" class="layer-overlay overlay-dark-8" data-bg-img="static/assets/images/leaf1.png" style="background-attachment: fixed;">
      <div class="container pt-40 pb-40">

<div class="section-title text-center">
          <div class="row">
            <div class="col-md-12">
              <h2 class="text-white">Serviciile <span class="text-theme-colored">Noastre</span></h2>
            </div>
          </div>
        </div>

           <div class="section-content">
             <div class="row multi-row-clearfix">
               <div class="col-xs-12 col-sm-6 col-md-6">
                 <div class="icon-box bg-lighter p-20 border-1px">
                   <a class="icon pull-right  sm-pull-none flip ll-right text-white mt-15" href="#">
                    <img src="{% static 'assets/images/test-ground.png' %}" alt="Test ground">
                   </a>
                   <h4 class="icon-box-title"><a href="#">Pregatirea solului</a></h4>
                   <p>Oferim consultații în materie de pregătire a suprafeței cât și a conținutului (minerale, substanțe hrănitoare etc.) terenului pe care urmează a fi <br/>plantată livada. </p>
                 </div>
               </div>
               <div class="col-xs-12 col-sm-6 col-md-6">
                 <div class="icon-box bg-lighter p-20 border-1px">
                   <a class="icon pull-right  sm-pull-none flip text-white mt-15" href="#">
                     <img src="{% static 'assets/images/prepare-ground.png' %}" alt="Prepare ground">
                   </a>
                   <h4 class="icon-box-title"><a href="#">Creștere și altoire puieți</a></h4>
                   <p>Pregătim portaltoi, altoim și creștem puieți. Altoirea se face folosind aparate de cea mai bună calitate, procesul de altoire este strict supravegheat de specialiștii noștri în vederea maximizării calității</p>
                 </div>
               </div>
               <div class="col-xs-12 col-sm-6 col-md-6">
                 <div class="icon-box bg-lighter p-20 border-1px">
                  <a class="icon pull-right  sm-pull-none flip text-white mt-15" href="#">
                     <img src="{% static 'assets/images/comercializare-puieti.png' %}" alt="Test ground">
                   </a>
                   <h4 class="icon-box-title"><a href="#">Comercializare puieți</a></h4>
                   <p>Avem o gamă variată de puieți. Puieții altoiți sunt păstrați în camere speciale de menținere a temperaturii și umidității.</p>
                 </div>
               </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                 <div class="icon-box bg-lighter p-20 border-1px">
                  <a class="icon pull-right  sm-pull-none flip text-white mt-15" href="#">
                     <img src="{% static 'assets/images/intretinere livada.png' %}" alt="Test ground">
                   </a>
                   <h4 class="icon-box-title"><a href="#">Consultații intreținere livadă</a></h4>
                   <p>Vă ajutăm pe tot parcursul creșterii livezii până la maturitatea ei, cu sfaturi legate de intretinere și îngrijire astfel încât să obțineți producție maximă.</p>
                 </div>

               </div>
			             <div class="col-xs-12 col-sm-6 col-md-6">
                 <div class="icon-box bg-lighter p-20 border-1px">
                  <a class="icon pull-right  sm-pull-none flip text-white mt-15" href="#">
                     <img src="{% static 'assets/images/Walnut.png' %}" alt="Test ground">
                   </a>
                   <h4 class="icon-box-title"><a href="#">Import nuci și miez de nuci</a></h4>
                   <p>Importăm nuci și miez de înaltă calitate la prețuri avantajoase. <br/>Colectăm de la clienți vechi de-ai noștri, astfel calitatea și omogenitatea fiind asigurate</p>
                 </div>
				  </div>
				 			             <div class="col-xs-12 col-sm-6 col-md-6">
                 <div class="icon-box bg-lighter p-20 border-1px">
                  <a class="icon pull-right  sm-pull-none flip text-white mt-15" href="#">
                     <img src="{% static 'assets/images/curatat.png' %}" alt="Test ground">
                   </a>
                   <h4 class="icon-box-title"><a href="#">Experți la comandă în livada voastră</a></h4>
                   <p>Profesioniști în domeniu se pot deplasa la livada voastră pentru instruire directă în modalitățile de curățare a copacilor. Putem organiza și un grup care vor face toată munca. </p>
                 </div>
				 </div>


               </div>
             </div>
           </div>
         </div>
       </section>


    <!-- Section: Completed Projects -->
    <section class="layer-overlay overlay-dark-8" data-bg-img="{% static 'assets/images/leaf1.png' %}" style="background-attachment: fixed;">
      <div class="container">
        <div class="section-title">
          <div class="row">
            <div class="col-md-12 text-center">
              <h2 class="text-white mt-0 line-height-1">Ultimele articole din <span class="text-theme-colored">Blog</span></h2>
            </div>
          </div>
        </div>
        <div class="section-content text-center">
          <div class="row">
            <div class="owl-carousel-4col" data-dots="true">
			{% recentposts as recentposts_list %}
			{% for post in recentposts_list %}
              <div class="item">
                <div class="thumb">
				<div class="cst__cover__posts">
				{% if post.cover %}
				<a href="{% url 'detail_post_page' slug=post.slug %}">
                  <img class="img-fullwidth" src="/media/{{ post.cover }}" alt="{{ post.title }}">
				  </a>
				  </div>
                </div>
				  {% endif %}
                <div class="p-15">
                  <h4 class="mb-5"><a class="text-white" href="{% url 'detail_post_page' slug=post.slug %}">{{ post.title }}</a></h4>
                  <div id="post-words">
				  <p>{{ post.description|safe|striptags|truncatewords:"20"|linebreaks }} </p>
				  </div>
                </div>
              </div>
			 {% endfor %}

            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- Divider: Funfact -->
    <section class="divider parallax layer-overlay overlay-dark-4" data-bg-img="static/assets/images/slider/slide7.jpg" data-parallax-ratio="0.7">
      <div class="container pt-90 pb-90">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
            <div class="funfact text-center">
                <h5 class="text-white text-uppercase font-weight-600">Peste</h5>
              <h2 data-animation-duration="2000" data-value="500" class="animate-number text-theme-colored font-42 font-weight-500 mt-0 mb-0">0</h2>
              <h5 class="text-white text-uppercase font-weight-600">Clienți mulțumiți</h5>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">

          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
            <div class="funfact text-center">
            <h5 class="text-white text-uppercase font-weight-600">Peste</h5>
              <h2 data-animation-duration="2000" data-value="1000000" class="animate-number text-theme-colored font-42 font-weight-500 mt-0 mb-0">0</h2>
              <h5 class="text-white text-uppercase font-weight-600">Puieți vânduți</h5>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- end main-content -->
{% endblock %}
